--- #change port
server:
  port: 8080

--- #MVC view
spring:
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

 #devtools
  devtools:
    livereload:
      enabled:  true
    restart:
      enabled:  false

 #oracle settings
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/toto_db
    username: toto
    password: toto33

--- #mybatis mapper
mybatis:
  configuration:
    multiple-result-sets-enabled: false
    map-underscore-to-camel-case: true
    call-setters-on-nulls: true    
    jdbc-type-for-null: varchar
    default-fetch-size: 500
  mapper-locations:
  - classpath:mybatis/mapper/*.xml
